# TODO: upgrade all packages - pinned versions are from initial dev environment
Flask==0.12.2
Werkzeug==0.14.1
Pillow==5.0.0
requests==2.18.4
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
click==6.7
